{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}



<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Transacciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Historial de Transacciones</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Símbolo</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                <tr>
                    <td>{{ transaction.action }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


{% endblock %}
