{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}


<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Register</title>
</head>
<body>
    <h1>Register</h1>

    <form action ="/register" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">contraseña:</label>
        <input type="password" name="password" required>
        <br>
        <label for ="confirmation">Confirmar Contraseña:</label>
        <input type="password" name="confirmation" required>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>

    </form>
</body>
</html>




{% endblock %}
